/bin
*.exe
k8e
.vscode/*
lib/tcplistener/cert/etcd-ca.crt
lib/tcplistener/cert/etcd-ca.key
lib/tcplistener/cert/etcd-server.crt
lib/tcplistener/cert/etcd-server.key
build/*
pkg/data/zz_generated_bindata.go