name: Go

on:
  push:
    branches: [ dev ]
  pull_request:
    branches: [ dev ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.15

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
    
    - name: check depends
      run: sudo apt-get install -y libseccomp-dev

    - name: Build
      run: make build
      
    - name: package bin
      run: make package
      
    - name: Test
      run: go test -v .