on:
  release:
    types:
    - published
name: Build Release
jobs:
  build:
    name: Build & Release
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        include:
          - goarch: amd64
            goos: linux
          - goarch: arm64
            goos: linux
    env:
      RELEASE_TAG: v1.21.5+k8e2
    steps:
    - uses: actions/checkout@master
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16
    - name: check depends
      run: sudo apt-get install -y libseccomp-dev
    - name: generate resources
      run: make generate
    - name: package bin
      run: SKIP_VALIDATE=true make
      env:
        GOOS: ${{ matrix.goos }}
        GOARCH: ${{ matrix.goarch }}
    - name: package image
      run: make package-airgap
    - name: Uploading assets...
      uses: softprops/action-gh-release@v1
      with:
        files: |
          dist/artifacts/k8e-${{ matrix.goarch }}
          dist/artifacts/k8e-airgap-images-${{ matrix.goarch }}.tar.gz
          dist/artifacts/k8e-images-${{ matrix.goarch }}.txt