on:
  release:
    types:
    - published
name: Build Release
jobs:
  build:
    name: Build & Release
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        include:
          - goarch: amd64
            goos: linux
    env:
      RELEASE_TAG: ${{secrets.RELEASE_TAG}}
      GOOS: ${{ matrix.goos }}
      GOARCH: ${{ matrix.goarch }}
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-go@v2
      with:
        go-version: 1.16
    - name: check depends
      run: sudo apt-get install -y libseccomp-dev
    - name: generate resources
      run: mkdir -p {build/data,build/static} && make generate
    - name: package bin
      run: SKIP_VALIDATE=true make
    - name: package airgap image
      run: make package-airgap
    - name: Uploading assets...
      uses: softprops/action-gh-release@v1
      with:
        files: |
          dist/artifacts/k8e
          dist/artifacts/k8e-airgap-images.tar.gz
          dist/artifacts/k8e-images.txt
    - uses: MCJack123/ghaction-generate-release-hashes@v1
      with:
        hash-type: sha1
        file-name: hashes.txt
    - uses: actions/upload-artifact@v2
      with:
        name: Asset Hashes
        path: hashes.txt