on:
  pull_request:
    branches:
      - master
name: Build Test
jobs:
  build:
    name: Build & Test
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        include:
          - goarch: amd64
            goos: linux
    env:
      GOOS: ${{ matrix.goos }}
      GOARCH: ${{ matrix.goarch }}
    steps:
    - uses: actions/checkout@v2
      with:
        ref: 'dev'
    - uses: actions/setup-go@v2
      with:
        go-version: 1.16
    - name: generate resources
      run: |
        mkdir -p {build/data,build/static}
        go generate ./...
    - name: Test
      id: gotest
      run: |
        export GOPATH="$HOME/go/"
        export PATH=$PATH:$GOPATH/bin
        go install github.com/jstemmer/go-junit-report/v2@latest
        go test -v 2>&1 ./... | go-junit-report -set-exit-code > report.xml
    - name: Publish Unit Test Results
      uses: EnricoMi/publish-unit-test-result-action@v1.39
      if: always()
      with:
        files: "./report.xml"