on:
  push:
    branches:
      - dev
name: Build Test
jobs:
  build:
    name: Build & Test
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        include:
          - goarch: amd64
            goos: linux
    env:
      GOOS: ${{ matrix.goos }}
      GOARCH: ${{ matrix.goarch }}
    steps:
    - uses: actions/checkout@v2
      with:
        ref: 'dev'
    - uses: actions/setup-go@v2
      with:
        go-version: 1.16
    - name: generate resources
      run: mkdir -p build/data && mkdir -p build/static && go generate
    - name: Test
      run: go get -u github.com/rakyll/gotest && gotest -v ./...